
.container {
    display: flex;
    justify-content:space-between;
    align-items: start;
    
}
::ng-deep .mat-form-field-appearance-outline .mdc-notched-outline__leading
{
    border-radius: 20px 0 0 20px !important;
    // border: 1px solid #B1B5C3 ;
}
::ng-deep .mat-form-field-appearance-outline .mdc-notched-outline__trailing  {
    border-radius: 0 15px 15px 0 !important;
    // border: 1px solid #B1B5C3 ;
}
::ng-deep .mdc-text-field:not(.mdc-text-field--invalid):not(.mdc-text-field--disabled) {
    .mdc-notched-outline > * {
      border-color: rgba(117, 115, 115, 0.2) !important;
    }
}





.center-block {
    text-align: center;
}

.component-dark-theme {
    nav {
        ul {
            li {
                a {
                    color: #828690;
                    background-color: #1e2227;
                    
                    &:hover, &.active {
                        background-color: var(--heraBlueColor);
                        color: var(--whiteColor);
                    }
                }
            }
        }
    }
}
.component-rtl-enabled {
    nav {
        ul {
            li {
                margin: {
                    right: 0;
                    left: 15px;
                };
                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
    .ms-5 {
        margin-left: 0 !important;
    }
    .me-5 {
        margin-right: 0 !important;
    }
    .ms-15 {
        margin-left: 0 !important;
    }
    .me-15 {
        margin-right: 0 !important;
    }
}

@media only screen and (max-width : 767px) {

    nav {
        ul {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }

}