<mat-card
    class="mb-25 tagus-card"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header class="border-bottom">
        <h5 class="mb-0">Setting-Profile</h5>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form">
           <div class="container">
            <div class="left-side">
              <h5 class="fw-semibold mb-8">Personal Informations</h5>
              <p>Update your photo and personal details here.</p>
              <div class=" mt-20">
                    <div class="tagus-form-group without-icon">
                        <label class="d-block mb-12 fw-semibold gray-color">First Name</label>
                        <mat-form-field appearance="outline">
                            <input matInput class="mat-input" formControlName="firstName">
                        </mat-form-field>
                    </div>
                    <div class="tagus-form-group without-icon">
                        <label class="d-block mb-12 fw-semibold gray-color">Last Name</label>
                        <mat-form-field appearance="outline">
                            <input matInput class="mat-input" formControlName="lastName">
                        </mat-form-field>
                    </div>
                    <div class="tagus-form-group without-icon">
                        <label class="d-block mb-12 fw-semibold gray-color">UserName</label>
                        <mat-form-field appearance="outline">
                            <input matInput class="mat-input" formControlName="username">
                        </mat-form-field>
                    </div>
                    <div class="tagus-form-group without-icon">
                        <label class="d-block mb-12 fw-semibold gray-color">Email Address</label>
                        <mat-form-field appearance="outline">
                            <input matInput class="mat-input" formControlName="email">
                        </mat-form-field>
                    </div>
              </div>
            </div>
            <div class="right-side">
              <h5 class="fw-semibold mb-8 mt-5">Your Photo</h5>
              <p>This will be displayed on your profile.</p>
              <div class="d-flex align-items-center">
                <div style="width: 110px; height: 100px; overflow: hidden;">
                    <img [src]="'http://localhost:8080' + image" style="width: 100%; height: 100%;" class="rounded-circle" alt="user">
                </div>
                <div class="tagus-form-group ms-20">
                    <label class="d-block mb-12 fw-semibold gray-color">Upload Image</label>
                    <input type="file" (change)="onFileSelected($event)">
                </div>
               </div>  
            </div>
           </div>
            
            <br><br><br>
            <button (click)="onSubmit()" mat-raised-button  class="tagus fw-semibold">Update</button>
        </form>
    </mat-card-content>
</mat-card>