<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h5 class="mb-0">Products</h5>
    <ol class="breadcrumb mb-0 ps-0">
        <li class="breadcrumb-item">
            <a routerLink="/">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item fw-semibold">eCommerce</li>
        <li class="breadcrumb-item fw-semibold">Products</li>
    </ol>
</div>

<mat-card class="mb-25 tagus-card">
    <mat-card-header>
        <h5 class="mb-0">Products</h5>
        <div class="d-flex align-items-center">
            <form class="search-box position-relative me-15 d-none d-md-block">
                <input type="text" class="input-search d-block" (keyup)="applyFilter($event)" placeholder="Search here..">
                <button type="submit"><i class="ri-search-line"></i></button>
            </form>
            <a mat-flat-button class="default-btn tagus small" (click)="openDialogCreate()">
                <i class="ri-add-fill"></i> Create New
            </a>
        </div>
    </mat-card-header>
    <mat-card-content >
    <div style="overflow-x:auto; overflow-y:hidden" class="mat-elevation-z8 tagus-mat-table">
    <div  class="example-container" [hidden]="isEmpty">
    <div class="example-loading-shade"
        *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div>
        <table mat-table
        [dataSource]="dataSource"
        matSort  
        matSortActive="productId"
        matSortDirection="asc">

    <!-- Product Name Column -->
    <ng-container matColumnDef="name">
        <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-start">Product Name</th>
        <td mat-cell *matCellDef="let element" class="text-start">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center product-info">
                    <div style="padding-right:10px; width: 50px; height: 40px; overflow: hidden;">
                        <img [src]="'http://localhost:8080' + element.imageUrl" style="width: 100%; height: 100%;"  alt="user">

                    </div>
                    {{element.name}}
                </div>
            </div>
        </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="productId">
        <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-center">id</th>
        <td mat-cell *matCellDef="let element" class="text-start">{{element.productId}}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
        <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-center">Price Before Discount</th>
        <td mat-cell *matCellDef="let element" class="text-start">{{element.priceBeforeDiscount}}</td>
    </ng-container>

    <!-- Orders Column -->
    <ng-container matColumnDef="category.categoryName" >
        <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-center">Price After Discount</th>
        <td mat-cell *matCellDef="let element" class="text-start">{{element.priceAfterDiscount}}</td>
    </ng-container>

    <!-- Stock Column -->
    <ng-container matColumnDef="stockQuantity">
        <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-center">Stock</th>
        <td mat-cell *matCellDef="let element" class="text-start">{{element.stockQuantity}}</td>
    </ng-container>
    <ng-container matColumnDef="lastUpdate">
        <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-center">Last Update</th>
        <td mat-cell *matCellDef="let element" class="text-start">
            {{element.lastUpdate | date:'dd/MM/yyyy'}}
        </td>
    </ng-container>

    <!-- Rating Column -->
    <ng-container matColumnDef="description">
        <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-center">Description</th>
        <td mat-cell *matCellDef="let element" class="text-start">
            {{ element.description.length > 10 ? element.description.slice(0, 10) + '. . .' : element.description }}
        </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
            <button type="button" mat-button class="position-relative dot-btn p-0 bg-transparent border-none" [matMenuTriggerFor]="actionMenu">
                <i class="ri-more-fill"></i>
            </button>
            <mat-menu #actionMenu="matMenu" class="dotMenu two monthMenu" xPosition="before">
                <button (click)="onEdit(element)" mat-menu-item type="button" class="bg-transparent border-none position-relative">
                    <i class="ri-edit-line"></i> Edit
                </button>
                <button (click)="onDelete(element)" mat-menu-item type="button" class="bg-transparent border-none position-relative">
                    <i class="ri-delete-bin-line"></i> Remove
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter {{this.filterValue}} </td>
    </tr>
        </table>
        <mat-paginator
            [length]="DataNumber"
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
        >
        </mat-paginator>   
    </div>
</div>

<div [hidden]="!isEmpty">
      <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
        <img src="../../../../../assets/img/empty.svg" style="width: 250px;" alt="Logo">
        <h2>No Products Founds </h2>
        <h3>Create Products from here</h3>
      </div>
</div>
        </div> 
    </mat-card-content>
</mat-card>
