<div class="row">
    <div class="col-md-4">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex justify-content-space-between align-items-center">
                <div class="title">
                    <h3>${{ totalRevenue }}</h3>
                    <span class="d-block gray-color">Total Sales</span>
                </div>
                <div class="icon">
                    <i class="flaticon-donut-chart"></i>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex justify-content-space-between align-items-center">
                <div class="title">
                    <h3>{{ totalOrders }}</h3>
                    <span class="d-block gray-color">Total Orders</span>
                </div>
                <div class="icon">
                    <i class="flaticon-goal"></i>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex justify-content-space-between align-items-center">
                <div class="title">
                    <h3>{{ totalProductsSold }}</h3>
                    <span class="d-block gray-color">Total Products Sold</span>
                </div>
                <div class="icon">
                    <i class="flaticon-award"></i>
                </div>
            </div>
        </mat-card>
    </div>
</div>