<div
    class="sidebar-area bg-white box-shadow"
    [ngClass]="{'active': isToggled}"
    [class.dark-sidebar]="themeService.isSidebarDark()"
    [class.right-sidebar]="themeService.isRightSidebar()"
    [class.hide-sidebar]="themeService.isHideSidebar()"
>
    <div class="logo bg-white">
        <a routerLink="/" class="d-flex align-items-center">
            <!-- <img src="assets/img/logo-icon.png" alt="logo"> -->
            <div class="My-Logo">
              <div>Z</div><div>R</div> 
            </div>
            <span style="padding-left:20px;">ZR</span>
        </a>
    </div>
    <div class="burger-menu" (click)="toggle()" [ngClass]="{'active': isToggled}">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover" style="height: 100vh;">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <span class="sub-title gray-color">MAIN</span>
                    <a routerLink="/ecommerce" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidebar-menu-link">
                        <i class="flaticon-pie-chart"></i>
                        <span class="title">Dashboard</span>
                    </a>
                    <span class="sub-title gray-color">PAGES</span>
                    <a routerLink="/ecommerce/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidebar-menu-link">
                        <i class="flaticon-shopping-cart-2"></i>
                        <span class="title">Products</span>
                    </a>
                    <a routerLink="/ecommerce/category" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidebar-menu-link">
                        <i class="flaticon-menu-1"></i>
                        <span class="title">Category</span>
                    </a>
                    <a routerLink="/ecommerce/orders" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidebar-menu-link">
                        <i class="flaticon-shopping-cart"></i>
                        <span class="title">Orders</span>
                    </a>
                    <a routerLink="/ecommerce/customers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidebar-menu-link">
                        <i class="flaticon-people"></i>
                        <span class="title">Users</span>
                    </a>
                    <a routerLink="/ecommerce/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidebar-menu-link">
                        <i class="flaticon-user"></i>
                        <span class="title">Profile</span>
                    </a>
                    <a routerLink="/ecommerce/account" routerLinkActive="active" class=" sidebar-menu-link">
                        <i class="flaticon-setting"></i>
                        <span class="title">Settings</span>
                    </a>
                   
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>